.about-me
    height: 100%
    margin: auto
    background-color: #fff
    &__title
        width: 95%
        height: auto
        margin-left: auto
        text-align: left
        font-size: 3rem
    &__about-block
        width: 100%
        height: 100%
